<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="server" value="(local)"/>
    <add key="database" value="thuvien"/>
    <add key="userid" value="sa"/>
    <add key="password" value=""/>
    <add key="windows" value="true"/>
    <add key="port" value=""/>
    <add key="timeout" value=""/>    
  </appSettings>
</configuration>